<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A Website</title>
  </head>
  <body>
    {{> header}}
    <!-- we pass the arguments by using space. -->
    <p align ='right'>{{screamIt welcomeMessage}}</p>
    {{> footer}}
  </body>
</html>
