<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A Website</title>
  </head>
  <body>
    {{> header}}
    <!-- we pass the arguments by using space. -->
    <p><h1><b>This site is currently under maintainance... Please, check us after some time...</b></h1></p>
    {{> footer}}
  </body>
</html>
